@CHARSET "UTF-8";
/* default items */
.btn-koni{
    background-color: #fff;
    border-color: #ccc;
    color: darkgrey;
    min-width: 90px;
}
/* menu items size */

.navbar-brand{
	height: 85px;
	padding: 0px;
}
#navbar_brand_area{
	background: url("../media/icons/main_logo.png") no-repeat scroll center top;
	height: 85px;
    width: 180px;
}
.navbar-center.navbar-right{
	margin-left:10px;
}
.navbar-toggle {
    margin-top: 20px;
}
.btn-costum{
	font-size: 16px;
	float: left;
	padding-right: 8px;
}
.glyphicon{
	line-height:normal;
	color: black;
}
.nav-font-size{
	font-size: 16px;
}
.nav-konifehr li a{
	height: 50px;	
	width: 100%;
}
.navbar{
	margin-bottom: 0px;
}
.level2-dropdown{
}
.level2-dropdown li{
    border: none !important;
    border-radius: none !important;
}
.level2-dropdown li a{
    height: auto !important;
    width: auto !important;
}
.caret-correction{
    padding-top: 25px;
}

/*header main menu end */
@media only screen and (min-width: 768px) {
	.navbar-brand{
		margin-left: 10% !important;
	}
	.navbar-center{
		width: 400px;
		margin: auto;
		position: relative;
	}

	.nav-konifehr li{
		text-align: center;
		/*border-right: solid 2px;
		border-radius: 20px; */
	}
	.nav-konifehr li a{
		height: 70px;
		width: 85px;	
	}
	.btn-costum {
  		font-size: 20px;
  		float: none;
  		padding-right: 0px;	
	
	}
	.navbar-fixed-top li{ 
	height: 30px !important;
	}
	.navbar-fixed-top li a{
		padding-bottom: 0px;
		padding-top: 0px;
		line-height: 30px !important;
		height: 30px !important;
	} 
	.navbar-fixed-top div.btn-costum{
		display: none;
	}
	.navbar-fixed-top div#navbar_brand_area{
		background: url("../media/icons/main_logo_fixed.png") no-repeat scroll center top !important;
		height: 30px !important;
	}
	.navbar-fixed-top a.navbar-brand{
		height: 30px !important;
	}
	.navbar{
		min-height: 30px !important;
	}
}
/*header main menu ends */

/* main modal Login starts */
#login_Window li{
	list-style: none !important;
}
.login_error{
    margin-left: 40px;
    width: 218px;
    border: 0.2px solid;
    background-color: #d43f3a;
    margin-bottom: 5px;
    color: #ffffff;
}
.login_error input{
    color: #080808;
}
/* effects that the modal is one layer above */
.modal-backdrop{
 z-index: -1 !important;
}
/* main modal Login ends */

/* home.php start */
#bottom_right{
    display: none;
    height: 100px;
    width: 100px;
    top: 100%;
    left: 100%;
    z-index: 100;
    margin-left: -100px;
    margin-top: -100px;
    position: absolute;
}
.bottom_right_active{
    display: block !important;
}
.icon_bottom_right{
    font-size: 80px;
    text-align: center;
}
.image_slider_dimensions{
	border: none;
    vertical-align: middle;
}
/* styles the " */
.quote_intro{
    font-size: 30px;
}
/* home.php end */

/* buy form */
.formReg td{
	border: none !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
}
.formRegister{
	border: none !important;
}
.formError{
	border: solid red !important;
}
.errorHint{
	color: #d43f3a;
	background: none !important;
	font-size: 9px;
}
.errorHint{
	padding:0px !important;
}
.colRegPic {
	height: 550px;
	<!-- border: 0.2px solid grey;-->
}
.regHeader{
	text-align: center;
}
.regFormHeader{

	padding: 4px !important;
	padding-top: 8px !important;
	font-size: 12px;
	font-weight: bold;
}
.regFormArea{
	background-color: #eee;
}
/* end buy form */

/* Store part */
.productFrame{
    border: 0.1px solid grey;
    background-color: #f8f8f8;
    display: block;
    position: relative;
    text-align: center;
    height: 302px;
    min-width: 325px;
}
.product_category img{
    width: 90px;
}
.product_category_frame{
    margin-top: 80px;
}
.bookTypeFormGroup{
    margin-top: 5px;
}
#store_items_container a:hover, a, a:focus, 
a:visited {
    text-decoration: none;
    color: #000;
}
#store_items_container{
    margin-top: 40px;
}
.loginModalHint{
    color: royalblue !important;
}
.author_details {
 border: 1px solid;
 margin-top: 50px;
}

.book_aditional_infos{
    margin-top: 15px;
    padding-bottom: 10px;
    border: 0.2px solid grey;
}
/* effect that the product description is on the same high as the image */
@media only screen and (min-width: 768px) {
    .product_description_header {
        margin-top: -4px;
    }
}
.product_image{
    /* min-width: 325px; */
}
.product_details{
    /* padding-right: 4%; */
}

/* shopping cart start */
.add_shopping_cart{
    margin-top: 5px;
}

.cartTableFooter{
}

.cartTotalPrice{
	font-size: 16px;
	font-style:bold;
}
/* Store part end */

/* checkout area start */
.checkoutArea{
	border: 1px solid grey;
}

.checkoutHeader{
	text-align: center;
}
.paymentMethod{
	height: 40px;
	border: 0.1px solid grey;
}
.stickyNotes{
	font-size: 9px;
	color: grey;
}
.paymentAddress{
	margin-top: 20px;
	border: 0.1px solid grey;
}
.paymentOverview{
	margin-top: 20px;
}
.overviewSubmit{
	margin-top: 20px;
	height: 40px;
}
.dropdown-menu a {
	white-space: normal;
}
.paymentSelection{
    height: 41px;
	cursor:pointer;
	background: #d6d6d6;
	list-style: none;
    border: 0.2px solid;
}
/* effect that the payment selection is the same size as the paymentAddress */
@media only screen and (min-width: 992px) {
    .paymentSelection{
        margin-right: -15px !important;
    }
}
.paymentSelection a{
	font-size: 16px;
}
.paymentSelection li a{
    padding-left: 0px !important;
}

/* checkout area end */

/* Info Message */
.alert-pwreset {
    background-color: #f8f8f8;
    border-color: #101010;
    color: #C1292D;
}
.alert-pwreset hr {
    border-top-color: #101010;
}
.infoMessage{
    margin-top: 20px;
}
.infoMessageBody{
}
.positioningCenter{
   text-align: center;
}
.messageFooter{
    font-size: medium;
}
/* Start Page About Author */
#author_page{
     background-color: #f8f8f8;
     margin-top: 5px;
 }
#about_nav_ul{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.author_pictures_box{
    height: 300px;
    min-width: 225px;
    border: solid 0.1px;
}
.no_padding{
    padding-left: 0px;
    padding-right: 0px;
}
.img_center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.normal_link{
    color: blue !important;
    text-decoration: underline;
}
#author_pictures{
    margin-bottom: 50px;
}
/* end about author*/

/* News site */
.alert-news {
    background-color: #f8f8f8;
    border-color: #101010;
    color: #2e6da4;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    z-index:1032;
}
/* News site end*/