*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

body {
    line-height: 1;
}

optgroup, option {
    font-weight: normal;
    font-style:	normal;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
}

:focus {
    outline: 0;
}

a:hover, a, a:focus, 
a:visited {
    text-decoration: none;
    color: #000;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}